<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AssetRipper</title>
	<link rel="stylesheet" href="@BootstrapInformation.StyleSheet.Url" integrity="@BootstrapInformation.StyleSheet.Integrity" crossorigin="anonymous">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/AssetRipper.GUI.Electron.styles.css" asp-append-version="true" />
</head>
<body data-bs-theme="dark">
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-page="/Index">AssetRipper</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link" asp-page="/Index">@Localization.Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-page="/Settings/Edit">Settings</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2023 - AssetRipper - <a asp-page="/Privacy">@Localization.Privacy</a> - <a asp-page="/Licenses">@Localization.Licenses</a>
		</div>
	</footer>

	<script src="@BootstrapInformation.Script.Url" integrity="@BootstrapInformation.Script.Integrity" crossorigin="anonymous"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>