@page
@using AssetRipper.Assets;
@using DirectBitmap = AssetRipper.Export.UnityProjects.Utils.DirectBitmap<AssetRipper.TextureDecoder.Rgb.Formats.ColorBGRA32, byte>;
@model AssetRipper.GUI.Electron.Pages.Assets.ViewModel
@{
	ViewData["Title"] = Model.Asset.GetBestName();
}
<h1>@Model.Asset.GetBestName()</h1>
@{
	string audioSource = Model.AudioSource;
	DirectBitmap imageBitmap = Model.ImageBitmap;
	string text = Model.Text;

	bool audioTabDisabled = string.IsNullOrEmpty(audioSource);
	bool imageTabDisabled = imageBitmap == default;
	bool textTabDisabled = string.IsNullOrEmpty(text);

	const string DefaultTabClassSet = "nav-link";
	string audioTabClassSet = DefaultTabClassSet + (audioTabDisabled ? " disabled" : "");
	string imageTabClassSet = DefaultTabClassSet + (imageTabDisabled ? " disabled" : "");
	string textTabClassSet = DefaultTabClassSet + (textTabDisabled ? " disabled" : "");

	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<button class="nav-link active" id="nav-information-tab" data-bs-toggle="tab" data-bs-target="#nav-information" type="button" role="tab" aria-controls="nav-information" aria-selected="true">
				Information
			</button>
			<button class="@audioTabClassSet" id="nav-audio-tab" data-bs-toggle="tab" data-bs-target="#nav-audio" type="button" role="tab" aria-controls="nav-audio" aria-selected="false" aria-disabled="@audioTabDisabled.ToString().ToLower()">
				Audio
			</button>
			<button class="@imageTabClassSet" id="nav-image-tab" data-bs-toggle="tab" data-bs-target="#nav-image" type="button" role="tab" aria-controls="nav-image" aria-selected="false" aria-disabled="@imageTabDisabled.ToString().ToLower()">
				Image
			</button>
			<button class="@textTabClassSet" id="nav-text-tab" data-bs-toggle="tab" data-bs-target="#nav-text" type="button" role="tab" aria-controls="nav-text" aria-selected="false" aria-disabled="@textTabDisabled.ToString().ToLower()">
				Text
			</button>
			<button class="nav-link" id="nav-dev-tab" data-bs-toggle="tab" data-bs-target="#nav-dev" type="button" role="tab" aria-controls="nav-dev" aria-selected="false">
				Development
			</button>
		</div>
	</nav>

	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" id="nav-information" role="tabpanel" aria-labelledby="nav-information-tab">
			<partial name="InformationTabContent" model="Model.Asset" />
		</div>
		<div class="tab-pane fade" id="nav-audio" role="tabpanel" aria-labelledby="nav-audio-tab">
			<partial name="AudioTabContent" model="audioSource" />
		</div>
		<div class="tab-pane fade" id="nav-image" role="tabpanel" aria-labelledby="nav-image-tab">
			<partial name="ImageTabContent" model="imageBitmap" />
		</div>
		<div class="tab-pane fade" id="nav-text" role="tabpanel" aria-labelledby="nav-text-tab">
			@if (!textTabDisabled)
			{
				<pre class="bg-dark-subtle rounded-3 p-2">@text</pre>
			}
		</div>
		<div class="tab-pane fade" id="nav-dev" role="tabpanel" aria-labelledby="nav-dev-tab">
			<table class="table">
				<tbody>
					<tr>
						<td>C# Type</td>
						<td>@Model.Asset.GetType().Name</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
}