@page
@using AssetRipper.Assets;
@model AssetRipper.GUI.Electron.Pages.Assets.ViewModel
@{
	ViewData["Title"] = Model.Asset.GetBestName();
}
<h1>@Model.Asset.GetBestName()</h1>
@{
	string audioSource = Model.AudioSource;
	string imageSource = Model.ImageSource;
	string text = Model.Text;

	bool audioTabDisabled = string.IsNullOrEmpty(audioSource);
	bool imageTabDisabled = string.IsNullOrEmpty(imageSource);
	bool textTabDisabled = string.IsNullOrEmpty(text);

	const string DefaultTabClassSet = "nav-link";
	string audioTabClassSet = DefaultTabClassSet + (audioTabDisabled ? " disabled" : "");
	string imageTabClassSet = DefaultTabClassSet + (imageTabDisabled ? " disabled" : "");
	string textTabClassSet = DefaultTabClassSet + (textTabDisabled ? " disabled" : "");

	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<button class="nav-link active" id="nav-information-tab" data-bs-toggle="tab" data-bs-target="#nav-information" type="button" role="tab" aria-controls="nav-information" aria-selected="true">
				Information
			</button>
			<button class="@audioTabClassSet" id="nav-audio-tab" data-bs-toggle="tab" data-bs-target="#nav-audio" type="button" role="tab" aria-controls="nav-audio" aria-selected="false" aria-disabled="@audioTabDisabled.ToString().ToLower()">
				Audio
			</button>
			<button class="@imageTabClassSet" id="nav-image-tab" data-bs-toggle="tab" data-bs-target="#nav-image" type="button" role="tab" aria-controls="nav-image" aria-selected="false" aria-disabled="@imageTabDisabled.ToString().ToLower()">
				Image
			</button>
			<button class="@textTabClassSet" id="nav-text-tab" data-bs-toggle="tab" data-bs-target="#nav-text" type="button" role="tab" aria-controls="nav-text" aria-selected="false" aria-disabled="@textTabDisabled.ToString().ToLower()">
				Text
			</button>
			<button class="nav-link" id="nav-dev-tab" data-bs-toggle="tab" data-bs-target="#nav-dev" type="button" role="tab" aria-controls="nav-dev" aria-selected="false">
				Development
			</button>
		</div>
	</nav>

	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" id="nav-information" role="tabpanel" aria-labelledby="nav-information-tab">
			<table class="table">
				<tbody>
					<tr>
						<td>Collection</td>
						<td><a asp-page="/Collections/View" asp-route-path="@Model.Asset.Collection.GetPath().ToJson()">@Model.Asset.Collection.Name</a></td>
					</tr>
					<tr>
						<td>Path ID</td>
						<td>@Model.Asset.PathID</td>
					</tr>
					<tr>
						<td>Class ID Type Number</td>
						<td>@Model.Asset.ClassID</td>
					</tr>
					<tr>
						<td>Class ID Type Name</td>
						<td>@Model.Asset.ClassName</td>
					</tr>
					<tr>
						<td>GUID</td>
						<td>@Model.Asset.GUID</td>
					</tr>
					@if (Model.Asset.OriginalDirectory is not null || Model.Asset.OriginalName is not null || Model.Asset.OriginalExtension is not null)
					{
						<tr>
							<td>Original Path</td>
							<td>@Model.Asset.OriginalPath</td>
						</tr>
					}
					@if (!string.IsNullOrEmpty(Model.Asset.AssetBundleName))
					{
						<tr>
							<td>AssetBundle Name</td>
							<td>@Model.Asset.AssetBundleName</td>
						</tr>
					}
					@foreach ((string key, IUnityObjectBase value) in Model.CustomReferenceProperties)
					{
						<tr>
							<td>@key</td>
							<td><a asp-page="/Assets/View" asp-route-path="@value.GetPath().ToJson()">@value.GetBestName()</a></td>
						</tr>
					}
					@foreach ((string key, string value) in Model.CustomStringProperties)
					{
						<tr>
							<td>@key</td>
							<td>@value</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="tab-pane fade" id="nav-audio" role="tabpanel" aria-labelledby="nav-audio-tab">
			@if (!audioTabDisabled)
			{
				<div>
					<table width="100%" height="100%">
						<tr>
							<td align="center" valign="middle">
								<audio controls class="mt-4" src="@audioSource" />
							</td>
						</tr>
					</table>
				</div>
			}
		</div>
		<div class="tab-pane fade" id="nav-image" role="tabpanel" aria-labelledby="nav-image-tab">
			@if (!imageTabDisabled)
			{
				<img src="@imageSource" />
			}
		</div>
		<div class="tab-pane fade" id="nav-text" role="tabpanel" aria-labelledby="nav-text-tab">
			@if (!textTabDisabled)
			{
				<pre class="bg-dark-subtle rounded-3 p-2">@text</pre>
			}
		</div>
		<div class="tab-pane fade" id="nav-dev" role="tabpanel" aria-labelledby="nav-dev-tab">
			<table class="table">
				<tbody>
					<tr>
						<td>C# Type</td>
						<td>@Model.Asset.GetType().Name</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
}