@page
@model AssetRipper.GUI.Electron.Pages.Resources.ViewModel
@{
	ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>

<h2>@Localization.Bundle</h2>
<a asp-page="/Bundles/View" asp-route-path="@Model.ResourcePath.BundlePath.ToJson()">@Model.Bundle?.Name</a>

<h2>@Localization.Data</h2>
<partial name="DataSaveButton" model="(Model.Name, Model.Data)" />