@page
@model AssetRipper.GUI.Electron.Pages.Bundles.ViewModel
@{
	ViewData["Title"] = Model.Bundle.Name;
}
<h1>@Model.Bundle.Name</h1>

@if (Model.Bundle.Parent is not null)
{
	<h2>@Localization.Parent</h2>
	<a asp-page="/Bundles/View" asp-route-path="@Model.BundlePath.Parent.ToJson()">@Model.Bundle.Parent.Name</a>
}

@if (Model.Bundle.Bundles.Count > 0)
{
	<h2>@Localization.Bundles</h2>
	<ul>
		@for (int i = 0; i < Model.Bundle.Bundles.Count; i++)
		{
			<li><a asp-page="/Bundles/View" asp-route-path="@Model.BundlePath.GetChild(i).ToJson()">@Model.Bundle.Bundles[i].Name</a></li>
		}
	</ul>
}

@if (Model.Bundle.Collections.Count > 0)
{
	<h2>@Localization.Collections</h2>
	<ul>
		@for (int i = 0; i < Model.Bundle.Collections.Count; i++)
		{
			<li><a asp-page="/Collections/View" asp-route-path="@Model.BundlePath.GetCollection(i).ToJson()">@Model.Bundle.Collections[i].Name</a></li>
		}
	</ul>
}

@if (Model.Bundle.Resources.Count > 0)
{
	<h2>@Localization.Resources</h2>
	<ul>
		@for (int i = 0; i < Model.Bundle.Resources.Count; i++)
		{
			<li><a asp-page="/Resources/View" asp-route-path="@Model.BundlePath.GetResource(i).ToJson()">@Model.Bundle.Resources[i].NameFixed</a></li>
		}
	</ul>
}
