@page
@model AssetRipper.GUI.Electron.Pages.Collections.ViewModel
@{
	ViewData["Title"] = Model.Collection.Name;
}
<h1>@Model.Collection.Name</h1>

<h2>@Localization.Bundle</h2>
<a asp-page="/Bundles/View" asp-route-path="@Model.CollectionPath.BundlePath.ToJson()">@Model.Collection.Bundle.Name</a>

@if (Model.Collection.IsScene)
{
	<h2>@Localization.Scene</h2>
	<a asp-page="/Scenes/View" asp-route-path="@Model.CollectionPath.ToJson()">@Model.Collection.Scene.Name</a>
}

@if (Model.Collection.Count > 0)
{
	<h2>@Localization.Assets</h2>
	<table class="table">
		<thead>
			<tr>
				<th>@Localization.PathId</th>
				<th>@Localization.Class</th>
				<th>@Localization.Name</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var asset in Model.Collection)
			{
				<tr>
					<td>@asset.PathID</td>
					<td>@asset.ClassName</td>
					<td><a asp-page="/Assets/View" asp-route-path="@Model.CollectionPath.GetAsset(asset.PathID).ToJson()">@asset.GetBestName()</a></td>
				</tr>
			}
		</tbody>
	</table>
}